{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  ผู้ใช้ถูกลบแล้ว
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="row">
  <div class="col-6">
    <h1>รายชื่อสมาชิก</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ สมัครสมาชิก</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ไอดี</th>
      <th scope="col">ชื่อ</th>
      <th scope="col">นามสกุล</th>
      <th scope="col">อีเมลล์</th>
      <th scope="col">เบอร์โทร</th>
      <th scope="col" class="text-end">ระบบจัดการ</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td class="text-end">
        <a href="/viewuser/{{this.id}}" type="button" class="btn btn-success btn-small"><i class="bi bi-eye"></i> ดูข้อมูล</a>
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-warning btn-small"><i class="bi bi-pencil"></i>
          แก้ไข</a>
        <a href="/{{this.id}}" type="button" class="btn btn-danger btn-small"><i class="bi bi-person-x"></i> ลบ</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>